In [1]:
import pandas as pd
import joblib

In [2]:
# inputs = joblib.load('inputs.pkl')
# df_new = pd.DataFrame(columns = inputs)

In [3]:
# df_new['Gender'] = df_new['Gender'].astype(str)
# df_new['percentage_10'] = df_new['percentage_10'].astype(float)
# df_new['board_10'] = df_new['board_10'].astype(str)
# df_new['graduation_12'] = df_new['graduation_12'].astype(str)
# df_new['percentage_12'] = df_new['percentage_12'].astype(float)
# df_new['board_12'] = df_new['board_12'].astype(str)
# df_new['CollegeTier'] = df_new['CollegeTier'].astype(str)
# df_new['Degree'] = df_new['Degree'].astype(str)
# df_new['Specialization'] = df_new['Specialization'].astype(str)
# df_new['collegeGPA'] = df_new['collegeGPA'].astype(float)
# df_new['CollegeCityTier'] = df_new['CollegeCityTier'].astype(float)
# df_new['CollegeState'] = df_new['CollegeState'].astype(str)
# df_new['GraduationYear'] = df_new['GraduationYear'].astype(str)
# df_new['English'] = df_new['English'].astype(float)
# df_new['Logical'] = df_new['Logical'].astype(float)
# df_new['Quant'] = df_new['Quant'].astype(float)
# df_new['Domain'] = df_new['Domain'].astype(float)
# df_new['conscientiousness'] = df_new['conscientiousness'].astype(float)
# df_new['agreeableness'] = df_new['agreeableness'].astype(float)
# df_new['extraversion'] = df_new['extraversion'].astype(float)
# df_new['nueroticism'] = df_new['nueroticism'].astype(float)
# df_new['openess_to_experience'] = df_new['openess_to_experience'].astype(float)
# df_new['Age'] = df_new['Age'].astype(float)
# df_new['department_score'] = df_new['department_score'].astype(float)

In [4]:
import pandas as pd
import numpy as np

# Example data
data = {
    'Gender': ['m', 'f'],
    'percentage_10': [85.0, 92.5],
    'board_10': ['CBSE', 'ICSE'],
    'graduation_12': ['2018', '2019'],
    'percentage_12': [75.0, 80.5],
    'board_12': ['State Board', 'ISC'],
    'CollegeTier': ['1', '2'],
    'Degree': ['B.Tech/B.E.', 'M.Tech./M.E.'],
    'Specialization': ['electronics engineering', 'computer engineering'],
    'collegeGPA': [8.5, 9.0],
    'CollegeCityTier': [1.0, 2.0],
    'CollegeState': ['Maharashtra', 'Karnataka'],
    'GraduationYear': ['2022', '2021'],
    'English': [90.0, 85.5],
    'Logical': [88.0, 92.0],
    'Quant': [92.5, 87.0],
    'Domain': [78.0, 80.5],
    'conscientiousness': [0.75, 0.80],
    'agreeableness': [0.85, 0.78],
    'extraversion': [0.70, 0.82],
    'nueroticism': [0.65, 0.75],
    'openess_to_experience': [0.88, 0.92],
    'Age': [23.0, 24.0],
    'department_score': [375, 400]
}

# Create a DataFrame
df_new = pd.DataFrame(data)

# Display the DataFrame
df_new

,Gender,percentage_10,board_10,graduation_12,percentage_12,board_12,CollegeTier,Degree,Specialization,collegeGPA,...,Logical,Quant,Domain,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Age,department_score
0,m,85.0,CBSE,2018,75.0,State Board,1,B.Tech/B.E.,electronics engineering,8.5,...,88.0,92.5,78.0,0.75,0.85,0.70,0.65,0.88,23.0,375
1,f,92.5,ICSE,2019,80.5,ISC,2,M.Tech./M.E.,computer engineering,9.0,...,92.0,87.0,80.5,0.80,0.78,0.82,0.75,0.92,24.0,400

In [5]:
new = df_new.iloc[0].values

In [6]:
new

array(['m', 85.0, 'CBSE', '2018', 75.0, 'State Board', '1', 'B.Tech/B.E.',
       'electronics engineering', 8.5, 1.0, 'Maharashtra', '2022', 90.0,
       88.0, 92.5, 78.0, 0.75, 0.85, 0.7, 0.65, 0.88, 23.0, 375],
      dtype=object)

In [7]:
from utils import process_new

In [8]:
e = process_new(X_new=new)

array([18.94764983])